{
  "extends": [
    "eslint-config-airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true,
    "shelljs": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 2,

    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [
      2,
      {
        "ignore": ["children", "style"]
      }
    ],

    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],

    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off"
  }
}
